html {
  font-family: "Roboto";
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
address {
  font-size: 14px;
  font-weight: bold;
  color: #1f3f68;
  letter-spacing: 0.04em;
}

/*HEADER*/
header {
  max-width: 1366px;
  width: 100%;
}
.headercontainer {
  margin: 0 auto;
  padding: 49px 100px;
  display: flex;
  justify-content: space-between;
}
/*logo*/

.logo > div {
  display: inline-flex;
  position: relative;
}

.firstcircle {
  background-color: #316099;
  border: #316099 solid 3px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.secondcircle {
  left: 16px;
  background-color: white;
  border-color: #316099;
  border: #316099 solid 3px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
}
.secondcircle p {
  padding: 3px 0 0 9.5px;
  color: #316099;
  font-size: 20px;
  font-weight: bold;
}
/*nav*/
.headercontainer nav > ul {
  display: inline-block;
  padding: 0 20px;
  color: #1f3f68;
  font-weight: bold;
}
/*banner*/
.banner {
  position: relative;
}
.bannerimage {
  display: block;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
.banner h1 {
  position: absolute;
  top: 55px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 44px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}
.banner p {
  position: absolute;
  padding: 0 325px;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-family: "Roboto";
  color: white;
}
/*MAIN*/
main {
  width: 100%;
  max-width: 940px;
  margin: 0 auto 80px;
  padding-top: 40px;
}

/*searchbar*/
.searchbar {
  display: flex;
  justify-content: center;
}
.searchbar > input {
  width: 100%;

  border-radius: 16px;
  border: none;
  background-color: #f4f4f4;
  background-image: url("/images/icon-search.png");
  background-position: 26px 18.778px;
  background-repeat: no-repeat;
  padding: 20px 70px;
}

h2 {
  letter-spacing: 0.04em;
  margin: 35px;
  margin-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #356ead;
}

/*uppermain*/
/*principal-uppermain*/

.uppermain article h3 {
  color: #1f3f68;
  font-size: 36px;
  font-weight: bold;
}
.uppermain article > p {
  padding: 20px;
  padding-left: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
}
.footerarticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.uppermain .principal-uppermain .footerarticle .icons img {
  margin: 0 25px;
}
.uppermain .footerarticle .icons img {
  margin-left: 25px;
}

.footerarticle .readingtime {
  padding: 10px;
  font-size: 14px;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.4);
}
.principal-uppermain {
  display: flex;
}
/*others-uppermain*/
.others-uppermain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;

  margin-top: 40px;
}
.others-uppermain article {
  width: 32%;
}

.others-uppermain article h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.others-uppermain article p {
  font-size: 16px;
  line-height: 26px;
  padding-right: 0;
}
.uppermain .footerarticle {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}
.seeall {
  color: #356dadc2;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: bold;
  line-height: 18px;
  margin-top: 40px;
  text-align: right;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: 1px solid rgba(0, 0, 0, 0.2);
}
/*division between mains*/
.allarticles {
  color: #356ead;
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.04em;
  margin-top: 50px;
  margin-bottom: 30px;
}

/*lowermain*/
.lowermain {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lowermain > article {
  display: flex;
  height: 210px;
  margin-bottom: 30px;
}

.lowermain article .rightside {
  padding-left: 20px;
}
.lowermain article .rightside > h4 {
  color: #1f3f68;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.04em;
}
.lowermain article .rightside p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: justify;
  margin-top: 5px;
}
.lowermain article .rightside .footerarticle {
  padding: 30px 0 0;
}
.lowermain article .rightside .footerarticle .icons > img {
  margin-left: 25px;
}
.oldnewpost {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #356ead;
  line-height: 18px;
  letter-spacing: 0.04em;
}
.oldpost {
  display: flex;
}
.newpost {
  display: flex;
  justify-content: left;
}

.oldpost :nth-child(2) {
  margin-left: 30px;
}
.newpost p {
  margin-right: 30px;
}
/*FOOTER*/

.footercontainer {
  max-width: 1223.5px;
  width: 100%;
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
  color: white;
}
/*upperfooter*/
.upperfooter {
  max-width: 940px;
  margin-left: 213px;
  margin-right: 126px;
  padding: 90px 0;
}
.upperfooter {
  display: flex;
}
.upperfooter > div {
  width: 50%;
}
.upperfooter h6 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  font-weight: normal;
}
.upperfooter p {
  margin-top: 32px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  font-weight: lighter;
}
.buttonarea {
  position: relative;
}
.upperfooter button {
  width: 220px;
  height: 56px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  background-color: #5a98d0;
  border-radius: 10px;
  border: none;
  color: inherit;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 0px;
}
/*division between footers*/
footer hr {
  opacity: 0.4;
  border: 0.5px solid #ffffff;
}

/*lowerfooter*/
.lowerfooter {
  width: 100%;
  max-width: 940px;
  margin-left: 213px;
  margin-right: 126px;
  display: flex;
  padding: 90px 0;
}
.lowerfooter .afrianska {
  width: 50%;
}
.lowerfooter .socialmedia {
  width: 20%;
  padding-left: 19%;
}
.afrianska .logo {
  display: flex;
  padding-bottom: 32px;
}
.afrianska .logo .firstcircle {
  background-color: #98c3e8;
  border: #316099 solid 3px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.afrianska .logo .secondcircle p {
  padding: 3px 0 0 8.5px;
  color: #316099;
  font-size: 20px;
  font-weight: bold;
}
.lowerfooter .afrianska h5 {
  font-size: 28px;
  padding-left: 35px;
  align-self: center;
}
.lowerfooter .afrianska p > span {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.lowerfooter div > h6 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-weight: bold;
  padding-bottom: 32px;
  margin-right: 0;
}
.lowerfooter div ul > li,
p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  font-weight: lighter;
  padding-bottom: 16px;
}
/*COPYRIGHT*/
.copyright {
  margin-left: 213px;
  padding-bottom: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.4;
}
