html{
    font-family:'Roboto';
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

} 
address{
    font-size: 14px;
    font-weight: bold;
    color: #1F3F68;
    letter-spacing: 0.04em;
}

/* .logo{
    display: block; */

/* .logo >div{
display: inline-flex; */


/* .firstcircle{
    background-color: #316099;
    border: #316099 solid 1px;
    width: 32px;
    height: 32px;
    border-radius: 50%;

}
.secondcircle{
    left: 16px;
    background-color:white;
    border-color:#316099;
    border: #316099 solid 1px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
     */

header{
    max-width: 1366px;
    width: 100%;
}
.headercontainer{
    margin: 0 auto;
    padding: 49px 100px;
    display: flex;
    justify-content: space-between;
}

.headercontainer nav >ul{
    display: inline-block;
    padding: 0 20px;
}
.banner{
    position: relative;
}
.bannerimagen{
    display: block;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    
}
.banner h1{
    position: absolute;
    top: 55px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;

}
.banner p{
    position: absolute;
    padding: 0 325px;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto';
    color: white;
}
/*main*/
    /*searcharbar*/
main{
    width: 100%;
    max-width: 940px;
    margin: 0 auto 80px;
    padding-top: 40px;
}
.searchbar{
    display: flex;
    justify-content: center;
    
}
.searchbar > input{
    width: 100%;
    padding: 20px 70px;
    border-radius:16px;
    border: none;
    background-color: #F4F4F4;
}
h2{
    letter-spacing: 0.04em;
    margin: 35px;
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #356EAD
}

    /*maincontentvertical*/
.maincontentvertical article h3{
    color: #1F3F68;
    font-size: 36px;
    font-weight: bold;

}
.maincontentvertical article > p{
    padding: 20px;
    padding-left: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.footerarticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
 }   
 .footerarticle .icons img{
     margin-right: 25px;
 }
 /* ver como separar confif de margenes en iconos*/

.footerarticle .readingtime{
    padding: 10px;
    font-size: 14px;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.4);
}
.primero{
    display: flex;
}
/*maincontainervertical*/
.containervertical {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    margin-top: 40px;
}
.containervertical article{
    width: 32%;
}

.containervertical article h4{
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #1F3F68
}
.containervertical article p{
    font-size: 16px;
    line-height: 26px;
    padding-right: 0;
}
.maincontentvertical .footerarticle{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
}
.seeall{
    color: #356dadc2;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: bold;
    line-height: 18px;
    margin-top: 40px;
    text-align: right;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    color: 1px solid rgba(0,0,0,0.2);
}
/*allarticles*/
.allarticles {
    color: #356EAD;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.04em;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*containerhorizontal*/
.containerhorizontal{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.containerhorizontal > article{
    display: flex;
    height: 210px;
    margin-bottom: 30px;
}


.containerhorizontal article .rightside{
    padding-left: 20px;
}
.containerhorizontal article .rightside > h4{
    color: #1F3F68;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.04em;
    
}
.containerhorizontal article .rightside p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: justify;
    margin-top: 5px;
}
.containerhorizontal article .rightside .footerarticle{
    padding-top: 45px;
}
.containerhorizontal article .rightside .footerarticle .icons{
    margin-left: 25px;
}
.oldnewpost{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #356EAD;
    line-height: 18px;
    letter-spacing: 0.04em;
}
.oldpost{
    display: flex;
}
.newpost{
    display: flex;
    justify-content: left;
}

.oldpost :nth-child(2){
    margin-left: 30px;
}
.newpost p{
    margin-right: 30px;
}
/*footer*/
footer{
    
}
.footercontainer{
    width: 1223.5px ;
    height: 900px;
    background-color: #316099;
    border-radius: 0px 200px 0px 0px;
    color: white;
}
.upperfooter{
    width: 100%;
    max-width: 940px;
    margin-left: 213px;
    margin-right: 126px;
    padding: 90px 0;
}
.upperfooter{
    display: flex
}
.upperfooter> div{
    width: 50%;
}
.upperfooter h6{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    font-weight: normal;
}
.upperfooter p{
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    font-weight: lighter;
}
.buttonarea{
    position: relative;
}
.upperfooter button{
    width: 220px;
    height: 56px;
    background-color: #5A98D0;
    border-radius: 10px;
    border: none;
    color: inherit;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 0px;
}
footer hr{
    opacity: 0.4;
    border: 0.5px solid #ffffff;
}
/*interested*/

/*actualfooter*/
